<section class="max-w-site m-0 m-auto mb-20 font-CormorantSC max-md:mb-10">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-blok relative m-0 m-auto max-2xl:mx-4">
      <div class="anim-blok absolute w-full">
        <div class="anim-line anim-line-top anim-line-horizont absolute h-px w-full">
        </div>
      </div>
      <div class="anim-blok absolute h-full">
        <div class="anim-line anim-line-left anim-line-vertical absolute w-px h-full">
        </div>
      </div>
      <div class="flex justify-around max-md:flex-col max-smtwo:p-3">
        <div class="py-20 max-lg:max-w-sm max-md:py-4 max-md:max-w-full max-md:text-center">
          <h2 class="text-3xl text-red-700 pb-10">АКЦИЯ</h2>
          <p class="text-xl">Успей сделать заказ в ноябре и получи скидку <span class="text-red-700">30%</span> на
            товар!</p>
        </div>
        <form
          class="text-xl py-20 w-2/5 max-md:py-5 max-md:grid max-md:grid-cols-3 max-md:min-w-full max-md:px-3 max-smtwo:grid-cols-1 max-smtwo:items-end">
          <div class="mb-6 max-md:mr-4 max-smtwo:grid max-smtwo:grid-cols-[25%_auto] max-smtwo:items-end max-smtwo:mb-3 max-smtwo:mr-0 max-mini:grid-cols-1">
            <label for="name" class="max-mini:hidden block mb-2">Имя</label>
            <input type="text" id="name"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5 "
              placeholder="Ваше имя" required>
          </div>
          <div class="mb-6 max-md:mr-4 max-smtwo:grid max-smtwo:grid-cols-[25%_auto] max-smtwo:items-end max-smtwo:mb-3 max-smtwo:mr-0 max-mini:grid-cols-1">
            <label for="tele" class="max-mini:hidden block mb-2">Телефон</label>
            <input type="tel" id="tele"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5"
              placeholder="Ваш телефон" required>
          </div>
          <div class="mb-6 max-md:mr-4 max-smtwo:grid max-smtwo:grid-cols-[25%_auto] max-smtwo:items-end max-smtwo:mb-3 max-smtwo:mr-0 max-mini:grid-cols-1">
            <label for="email" class="max-mini:hidden block mb-2">E-mail</label>
            <input type="email" id="email"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5"
              placeholder="Ваш e-mail" required>
          </div>
          <div class="flex flex-col max-mdtwo:col-start-1 max-mdtwo:col-span-3 max-md:items-center max-smtwo:col-span-1">
            <div class="flex justify-center max-smtwo:self-end max-smtwo:mr-14 max-sm:mr-10 max-mini:mr-0 mb-3 max-mini:self-center">
                <input class="mr-2" type="checkbox" name="approval" id="approval">
                <label class="text-sm" for="approval">Согласие на обработку данных</label>
              </div>
            <button type="submit"
              class="px-6 py-3 border-2 w-full max-md:w-[60%] max-smtwo:w-[75%] max-mini:w-full max-smtwo:h-12 max-smtwo:self-end max-smtwo:mb-2 max-md:px-2 max-md:py-3 max-md:text-base rounded-xl bg-violet-but text-white hover:bg-white hover:text-violet-but hover:border-violet-but hover:duration-500">Отправить
              заявку</button>
          </div>
        </form>
      </div>
      <div class="anim-blok absolute h-full right-0 top-0">
        <div class="anim-line anim-line-right anim-line-vertical absolute w-px h-full">
        </div>
      </div>
      <div class="anim-blok absolute w-full">
        <div class="anim-line anim-line-bottom anim-line-horizont w-px h-full">
        </div>
      </div>
    </div>
  </div>
</section>
