<section class="max-w-site m-0 m-auto font-CormorantSC text-xl max-lg:text-base max-md:text-sm mb-10 max-md:mb-10">
    <div class="max-w-container m-0 m-auto border-y border-y-gray-700">
     <div class="max-w-blok m-0 m-auto max-2xl:mx-4">
      <div class="py-10 mb-10 border-b-2 border-b-gray-400">
        <h2 class="text-4xl max-xl:text-3xl font-semibold tracking-wider ml-5 mb-5">Оптовым покупателям</h2>
        <div class="flex">
          <img class="mr-6 rounded-3xl max-lg:w-2/4 max-smtwo:hidden" src="/themes/demo/assets/images/banner.png" alt="">
          <p class="max-w-3xl mb-8 indent-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia asperiores fugiat ad
            voluptates doloremque
            impedit omnis similique sunt natus minus? Explicabo perspiciatis necessitatibus id natus placeat tenetur
            repellat a magni?Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus natus accusamus illo
            tempora, eius quo placeat odit quod praesentium corporis culpa officia ea, laboriosam libero aperiam?
            Atque
            consequatur molestias error!
          </p>
        </div>
      </div>
      <div class="mb-10">
        <h2 class="text-4xl max-xl:text-3xl font-semibold tracking-wider ml-5 mb-5">Корпоративным покупателям</h2>
        <div class="flex">
          <p class="max-w-3xl mr-6 mb-8 indent-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aut asperiores
            soluta
            corporis
            omnis sed, minima
            repudiandae recusandae nesciunt voluptas mollitia hic velit quo dolores officiis enim, est distinctio
            laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magnam accusantium eveniet,
            velit commodiquos! Esse quaerat vel at dolores nemo. Totam sequi impedit quia debitis neque iure
            praesentium
            dignissimos?
          </p>
          <img class="rounded-3xl max-lg:w-2/4 max-smtwo:hidden" src="/themes/demo/assets/images/banner2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
