<section class="max-w-site m-0 m-auto mb-20 max-md:mb-10">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-blok m-0 m-auto max-2xl:mx-4 text-xl max-lg:text-sm font-CormorantSC">
      <div class=" mb-7">
        <div class="flex justify-between mb-5">
          <div class="flex flex-col mr-10 max-smtwo:mr-0">
            <h1 class="text-4xl max-xl:text-3xl font-semibold tracking-wider ml-5 mb-5">О нас</h1>
            <div class="mb-10">
              <p class="pr-10 indent-5">Компания &laquo;Вкус севера&raquo;&nbsp;&mdash; занимается производством
                экологически
                чистых продуктов.
                Наша миссия заключается в&nbsp;том, чтобы предоставить нашим потребителям вкусные и&nbsp;здоровые
                продукты.</p>
              <p class="indent-5">Вся наша продукция проходит строгий контроль качества на&nbsp;каждом этапе
                производства.
                Мы&nbsp;тщательно выбираем сырье, чтобы гарантировать его чистоту и&nbsp;свежесть. Наши специалисты
                разрабатывают уникальные рецепты, чтобы создать неповторимый вкус каждого из&nbsp;наших продуктов.
                Мы&nbsp;предлагаем широкий ассортимент сохраняя все полезные свойства свежих фруктов и&nbsp;ягод.
                Мы&nbsp;также производим различные соусы, которые идеально подходят для приготовления разнообразных блюд
                и&nbsp;добавления им&nbsp;неповторимого вкуса.</p>
              <p class="indent-5">Мы&nbsp;гордимся тем, что наша компания активно заботится о&nbsp;окружающей среде.
                Мы&nbsp;стремимся
                использовать упаковку, которая является экологически дружественной и&nbsp;перерабатываемой.
                Если вы&nbsp;цените вкус, качество и&nbsp;здоровье, обратитесь к&nbsp;нам. Мы&nbsp;гарантируем, что наша
                продукция превзойдет ваши ожидания и&nbsp;станет незаменимым дополнением к&nbsp;вашему столу.</p>
            </div>
            <button
              class="flex self-end items-center font-TTInterfaces text-lg max-lg:text-base font-semibold">
              <a class="mr-3 underline" href="/inform">Подробнее</a>
              <img class="w-7 max-lg:w-5" src="/themes/demo/assets/images/arrowr.svg" alt="">
            </button>
          </div>
          <img class="w-2/4 rounded-3xl max-md:hidden" src="/themes/demo/assets/images/blog3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
