<section class="max-w-site m-0 m-auto mb-20 max-md:mb-10">
  <div class="max-w-container m-0 m-auto font-CormorantSC">
    <div class="max-w-blok m-0 m-auto max-2xl:mx-4">
      <h1 class="ml-5 mb-10 text-4xl max-xl:text-3xl font-semibold tracking-wider">Наши преимущества</h1>
      <ul class="grid grid-cols-4 gap-8 text-lg max-lg:text-sm max-md:grid-cols-2 max-sm:grid-cols-1 max-mini:gap-4">
        <li class="shadow-blog2 bg-purple-100/30 rounded-3xl">
          <div class="p-6">
            <h2 class="text-center text-2xl max-lg:text-lg mb-4">Lorem ipsum dolor</h2>
            <div class="flex max-1.5lg:flex-col max-1.5lg:items-center">
              <img class="w-16 mr-3 max-smtwo:w-10" src="/themes/demo/assets/images/blog2.svg" alt="">
              <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </li>
        <li class="shadow-blog2 bg-purple-100/30 rounded-3xl">
          <div class="p-6">
            <h2 class="text-center text-2xl max-lg:text-lg mb-4">Lorem ipsum dolor</h2>
            <div class="flex max-1.5lg:flex-col max-1.5lg:items-center">
              <img class="w-16 mr-3 max-smtwo:w-10" src="/themes/demo/assets/images/blog2.svg" alt="">
              <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eaque quidem
                placeat.</p>
            </div>
          </div>
        </li>
        <li class="shadow-blog2 bg-purple-100/30 rounded-3xl">
          <div class="p-6">
            <h2 class="text-center text-2xl max-lg:text-lg mb-4">Lorem ipsum dolor</h2>
            <div class="flex max-1.5lg:flex-col max-1.5lg:items-center">
              <img class="w-16 mr-3 max-smtwo:w-10" src="/themes/demo/assets/images/blog2.svg" alt="">
              <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eaque quidem
                placeat.</p>
            </div>
          </div>
        </li>
        <li class="shadow-blog2 bg-purple-100/30 rounded-3xl">
          <div class="p-6">
            <h2 class="text-center text-2xl max-lg:text-lg mb-4">Lorem ipsum dolor</h2>
            <div class="flex max-1.5lg:flex-col max-1.5lg:items-center">
              <img class="w-16 mr-3 max-smtwo:w-10" src="/themes/demo/assets/images/blog2.svg" alt="">
              <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eaque quidem
                placeat. Maxime itaque necessitatibus excepturi.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
