<section class="max-w-site m-0 m-auto mb-5 font-CormorantSC text-lg">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-blok m-0 m-auto max-2xl:mx-4">
      <h2 class="text-4xl max-xl:text-3xl font-semibold tracking-wider ml-5 mb-10 max-mini:mb-4">Видео</h2>
      <div class="blog7-video flex">
        <div class="swiper swiper-blog7-video">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-1 px-3 max-mdtwo:px-4 max-md:px-4 max-smtwo:px-4 max-sm:px-16 max-mini:px-8">
              <video class="object-cover border-violet-but/50 border-2 bg-blok1-card/30 rounded-3xl" controls loop>
                <source src="/themes/demo/assets/video/1688039341242106 (online-video-cutter.com).mp4" type="video/mp4">
              </video>
            </div>
            <div class="swiper-slide swiper-slide-2 px-3 max-mdtwo:px-4 max-md:px-4 max-smtwo:px-4 max-sm:px-16 max-mini:px-8">
              <video class="object-cover border-violet-but/50 border-2 bg-blok1-card/30 rounded-3xl" controls loop>
                <source src="/themes/demo/assets/video/1688039655240742 (online-video-cutter.com).mp4" type="video/mp4">
              </video>
            </div>
            <div class="swiper-slide swiper-slide-3 px-3 max-mdtwo:px-4 max-md:px-4 max-smtwo:px-4 max-sm:px-16 max-mini:px-8">
              <video class="object-cover border-violet-but/50 border-2 bg-blok1-card/30 rounded-3xl" controls loop>
                <source src="/themes/demo/assets/video/1688040418978683 (online-video-cutter.com).mp4" type="video/mp4">
              </video>
            </div>
            <div class="swiper-slide swiper-slide-4 px-3 max-mdtwo:px-4 max-md:px-4 max-smtwo:px-4 max-sm:px-16 max-mini:px-8">
              <video class="object-cover border-violet-but/50 border-2 bg-blok1-card/30 rounded-3xl" controls loop>
                <source src="/themes/demo/assets/video/1688040418978683 (online-video-cutter.com).mp4" type="video/mp4">
              </video>
            </div>
          </div>
          <div class="absolute z-10 w-full right-0 top-2/4 flex justify-between">
            <div class="slider__prev-blog7 rounded-full bg-white border-light-voilet border-1">
              <img class="w-12 p-2 max-md:w-11" src="/themes/demo/assets/images/arrowl.svg" alt="">
            </div>
            <div class="slider__next-blog7 rounded-full bg-white border-light-voilet border-1">
              <img class="w-12 p-2 max-md:w-11" src="/themes/demo/assets/images/arrowr.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
