<section class="max-w-site m-0 m-auto">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-blok m-0 m-auto text-xl max-md:text-lg font-CormorantSC max-2xl:mx-7 mb-20">
      <p class="mb-10">
        <a class="hover:underline hover:underline-offset-4" href="/">Главная</a>
        / Доставка и оплата
      </p>
      <div class="mb-10">
        <h2 class="ml-5 mb-10 text-4xl max-xl:text-3xl font-semibold tracking-wider">Условия доставки и оплаты</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolorum accusantium
          aperiam, veniam obcaecati doloremque a sunt laboriosam quisquam nemo numquam fugit exercitationem iste ea
          temporibus asperiores consequatur quam repudiandae?</p>
      </div>
      <div class="">
        <div class="btn-box border-b border-b-light-voilet">
          <button class="dostavka-btn dostavka-btn1 dostavka-btn--active text-start" data-path="step-1">Доставка по Мурманску и области</button>
          <button class="dostavka-btn dostavka-btn2 text-start" data-path="step-2">Доставка по России</button>
        </div>
        <ul class="py-10 px-5 border border-light-voilet rounded-b-3xl">
          <li class="dostavka-item dostavka-item--active" data-target="step-1">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quas fuga delectus libero ducimus
              nam reiciendis id adipisci fugit! Error voluptate cum pariatur optio nam eum eligendi beatae quisquam
              ratione?</p>
          </li>
          <li class="dostavka-item dostavka-tabs" data-target="step-2">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, porro nostrum. Iusto deserunt
              perferendis laudantium, facilis minima quia libero hic cumque a sint dignissimos veniam reiciendis aut
              molestiae provident mollitia?</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
