<section class="max-w-site m-0 m-auto pb-10 max-md:pb-10">
  <img class="w-full" src="/themes/demo/assets/images/Group 10.svg" alt="">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-blok m-0 m-auto text-lg font-CormorantSC max-2xl:mx-4 max-xl:text-base max-lg:text-sm max-md:text-xs">
      <p class="mb-10">
        <a class="hover:underline hover:underline-offset-4" href="/">Главная</a>
        / О нас
      </p>
      <div class="grid grid-cols-2 justify-between my-10 max-smtwo:my-5 max-smtwo:flex max-smtwo:flex-col">
        <div class="flex flex-col max-h-full">
          <h2 class="text-3xl mb-5 max-lg:text-2xl max-1.5lg:mb-2">О компании</h2>
          <ul class="max-smtwo:mb-2 max-lg:pr-5">
            <li class="flex items-center max-md:mb-1">
              <img class="w-8 mr-6 max-lg:mr-2 max-md:w-6" src="/themes/demo/assets/images/blog3listbg.svg" alt="">
              <p>Вот уже 5 лет мы с любовью производим продукты Севера.</p>
            </li>
            <li class="flex items-center max-md:mb-1">
              <img class="w-8 mr-6 max-lg:mr-2 max-md:w-6" src="/themes/demo/assets/images/blog3listbg2.svg" alt="">
              <p>Наша производительность - более 1000 единиц товара ежедневно.</p>
            </li>
            <li class="flex items-center max-md:mb-1">
              <img class="w-8 mr-6 max-lg:mr-2 max-md:w-6" src="/themes/demo/assets/images/blog3listbg3.svg" alt="">
              <p>Постоянно расширяем наш ассортимент.</p>
            </li>
            <li class="flex items-center max-md:mb-1">
              <img class="w-8 mr-6 max-lg:mr-2 max-md:w-6" src="/themes/demo/assets/images/blog3listbg4.svg" alt="">
              <p>Всё сырьё собрано в экологически чистых местах за Полярным Кругом.</p>
            </li>
          </ul>
        </div>
        <div class="max-w-xl justify-self-end max-smtwo:flex max-smtwo:justify-center">
          <img class="rounded-2xl max-md:h-full max-smtwo:w-2/3" src="/themes/demo/assets/images/moroshka.jpg" alt="">
        </div>
      </div>
      <div class="grid grid-cols-2 justify-between mb-10 max-smtwo:mb-5 max-smtwo:flex max-smtwo:flex-col-reverse">
        <div class="mr-10 max-lg:mr-5 max-smtwo:mr-0 max-smtwo:flex max-smtwo:justify-center max-smtwo:mb-3">
          <img class="h-full rounded-2xl max-smtwo:w-2/3" src="/themes/demo/assets/images/shishki.jpg" alt="">
        </div>
        <div class="max-smtwo:mb-5">
          <h2 class="text-3xl mb-5 max-lg:text-2xl max-1.5lg:mb-2">Миссия нашей компании</h2>
          <div class="flex flex-col">
            <p class="mb-5 max-1.5lg:mb-2">В&nbsp;нашем регионе живут прекрасные люди, и&nbsp;Север вдохновляет
              их&nbsp;заниматься
              любимым делом.</p>
            <img class="h-6 self-center mb-5 max-1.5lg:mb-2 max-smtwo:h-4" src="/themes/demo/assets/images/pngwing3.png" alt="">
          </div>
          <div class="flex flex-col">
            <p class="mb-5 max-1.5lg:mb-2">
              Наша дикая природа даёт нам самые вкусные и&nbsp;полезные продукты, и&nbsp;мы&nbsp;стремимся
              поделиться
              с&nbsp;вами этим непревзойдённым вкусом. Именно поэтому у&nbsp;нас появилась идея заняться
              производством
              иван-чая и&nbsp;варенья из&nbsp;ягод и&nbsp;шишек, воплощением самого Севера, такого чистого
              и&nbsp;неповторимого!
            </p>
            <img class="h-6 self-center mb-5 max-1.5lg:mb-2 max-smtwo:h-4" src="/themes/demo/assets/images/pngwing3.png" alt="">
          </div>
          <p class=""> Мы&nbsp;имеем собственное производство и&nbsp;распространяем свой товар
            на&nbsp;территории
            Мурманской
            области и&nbsp;других регионах России.</p>
        </div>
      </div>
      <div class="mb-10">
        <h2 class="text-3xl mb-4 max-lg:text-2xl">Наша цель:</h2>
        <div class="flex flex-col items-center">
          <p class="text-xl font-semibold max-lg:text-lg max-md:text-base max-smtwo:text-center"> Создать уникальный вкус - вкус Севера, который дотронется до сердец людей
            всего мира!</p>
            <img class="max-lg:h-3" src="/themes/demo/assets/images/украшение.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <img class="w-full" src="/themes/demo/assets/images/Group 10.svg" alt="">
</section>
