<section class="max-w-site m-0 m-auto">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-blok m-0 m-auto max-2xl:mx-4 text-lg font-CormorantSC">
      <p class="mb-10">
        <a class="hover:underline hover:underline-offset-4" href="/">Главная</a>
        / Оформление заказа
      </p>
      <div
        class="flex flex-col bg-gradient-to-b from-blok1-card/80 to-transparent p-10 max-mdtwo:p-3 border border-violet-but rounded-3xl mb-5">
        <div class="flex justify-between items-center mb-5">
          <h2 class="text-4xl max-smtwo:text-2xl max-smtwo:self-start">Ваш заказ</h2>
          <button class="max-smtwo:self-end">
            <p class="max-smtwo:text-sm border-b border-b-slate-600 hover:border-b-white hover:duration-300">Очистить
              корзину</p>
          </button>
        </div>
        <table class="mb-5">
          <thead>
            <tr>
              <th>Наименование</th>
              <th>Цена за шт.</th>
              <th>Итого</th>
              <th class="w-[400px] text-start pl-12 max-lg:w-[350px] max-mdtwo:w-[300px]">Количество</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="h-20 max-md:h-auto border-b border-b-slate-300 max-md:grid max-md:grid-cols-4 max-md:mb-3 max-minitwo:grid-cols-2">
              <td class="max-md:col-span-4 max-minitwo:col-span-2">
                <div class="flex items-center max-mdtwo:w-full">
                  <a class="mr-3" href="">
                    <img class="w-5" src="/themes/demo/assets/images/close.svg" alt="">
                  </a>
                  <img class="w-20 max-lg:w-14 rounded-2xl mr-3" src="/themes/demo/assets/images/blok1-card-product.jpg"
                    alt="">
                  <div>
                    <p class="text-xl max-lg:text-lg">Название</p>
                    <p class="text-xs text-slate-600">Артикул 000000</p>
                  </div>
                </div>
              </td>
              <td data-label="Цена за шт.">
                <p class="text-2xl max-lg:text-xl font-bold mr-5 max-mdtwo:mr-9 max-md:mr-5 max-smtwo:mt-1.5">1236p</p>
              </td>
              <td data-label="Итого" class="max-mini:w-16">
                <p class="text-2xl max-lg:text-xl font-bold max-smtwo:mt-1.5">1236p</p>
              </td>
              <td class="max-md:col-span-2 max-md:col-start-3 my-5 max-sm:self-center max-minitwo:col-span-2">
                <form class="flex justify-end items-center max-md:justify-center max-minitwo:justify-evenly" action="">
                  <select
                    class="mr-11 w-28 pl-5 max-lg:w-20 max-lg:h-10 max-sm:mr-5 max-sm:w-20 max-mini:mr-0 focus:ring-violet-but focus:border-violet-but rounded-2xl"
                    name="quantity" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                  </select>
                  <div class="flex items-center text-left">
                    <p class="mr-3 max-lg:text-base max-sm:mr-2 max-md:text-sm">Объединить <br
                        class="hidden max-mdtwo:block"> в набор</p>
                    <input class="rounded-full w-3 h-3" type="checkbox" name="checkbox">
                  </div>
                </form>
              </td>
            </tr>
            <tr class="h-20 max-md:h-auto border-b border-b-slate-300 max-md:grid max-md:grid-cols-4 max-md:mb-3 max-minitwo:grid-cols-2">
              <td class="max-md:col-span-4 max-minitwo:col-span-2">
                <div class="flex items-center max-mdtwo:w-full">
                  <a class="mr-3" href="">
                    <img class="w-5" src="/themes/demo/assets/images/close.svg" alt="">
                  </a>
                  <img class="w-20 max-lg:w-14 rounded-2xl mr-3" src="/themes/demo/assets/images/blok1-card-product.jpg"
                    alt="">
                  <div>
                    <p class="text-xl max-lg:text-lg">Название</p>
                    <p class="text-xs text-slate-600">Артикул 000000</p>
                  </div>
                </div>
              </td>
              <td data-label="Цена за шт.">
                <p class="text-2xl max-lg:text-xl font-bold mr-5 max-mdtwo:mr-9 max-md:mr-5 max-smtwo:mt-1.5">1236p</p>
              </td>
              <td data-label="Итого" class="max-mini:w-16">
                <p class="text-2xl max-lg:text-xl font-bold max-smtwo:mt-1.5">1236p</p>
              </td>
              <td class="max-md:col-span-2 max-md:col-start-3 my-5 max-sm:self-center max-minitwo:col-span-2">
                <form class="flex justify-end items-center max-md:justify-center max-minitwo:justify-evenly" action="">
                  <select
                    class="mr-11 w-28 pl-5 max-lg:w-20 max-lg:h-10 max-sm:mr-5 max-sm:w-20 max-mini:mr-0 focus:ring-violet-but focus:border-violet-but rounded-2xl"
                    name="quantity" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                  </select>
                  <div class="flex items-center text-left">
                    <p class="mr-3 max-lg:text-base max-sm:mr-2 max-md:text-sm">Объединить <br
                        class="hidden max-mdtwo:block"> в набор</p>
                    <input class="rounded-full w-3 h-3" type="checkbox" name="checkbox">
                  </div>
                </form>
              </td>
            </tr>
            <tr class="h-20 max-md:h-auto border-b border-b-slate-300 max-md:grid max-md:grid-cols-4 max-md:mb-3 max-minitwo:grid-cols-2">
              <td class="max-md:col-span-4 max-minitwo:col-span-2">
                <div class="flex items-center max-mdtwo:w-full">
                  <a class="mr-3" href="">
                    <img class="w-5" src="/themes/demo/assets/images/close.svg" alt="">
                  </a>
                  <img class="w-20 max-lg:w-14 rounded-2xl mr-3" src="/themes/demo/assets/images/blok1-card-product.jpg"
                    alt="">
                  <div>
                    <p class="text-xl max-lg:text-lg">Название</p>
                    <p class="text-xs text-slate-600">Артикул 000000</p>
                  </div>
                </div>
              </td>
              <td data-label="Цена за шт.">
                <p class="text-2xl max-lg:text-xl font-bold mr-5 max-mdtwo:mr-9 max-md:mr-5 max-smtwo:mt-1.5">1236p</p>
              </td>
              <td data-label="Итого" class="max-mini:w-16">
                <p class="text-2xl max-lg:text-xl font-bold max-smtwo:mt-1.5">1236p</p>
              </td>
              <td class="max-md:col-span-2 max-md:col-start-3 my-5 max-sm:self-center max-minitwo:col-span-2">
                <form class="flex justify-end items-center max-md:justify-center max-minitwo:justify-evenly" action="">
                  <select
                    class="mr-11 w-28 pl-5 max-lg:w-20 max-lg:h-10 max-sm:mr-5 max-sm:w-20 max-mini:mr-0 focus:ring-violet-but focus:border-violet-but rounded-2xl"
                    name="quantity" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                  </select>
                  <div class="flex items-center text-left">
                    <p class="mr-3 max-lg:text-base max-sm:mr-2 max-md:text-sm">Объединить <br
                        class="hidden max-mdtwo:block"> в набор</p>
                    <input class="rounded-full w-3 h-3" type="checkbox" name="checkbox">
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="self-start max-smtwo:self-center">
          <button type="submit"
            class="px-6 py-3 bg-violet-but border-2 text-white rounded-2xl hover:bg-white hover:border-violet-but hover:text-violet-but hover:duration-300">Оформить
            заказ</button>
        </div> -->
      </div>
      <div
        class="grid grid-cols-2 max-mdtwo:flex max-mdtwo:flex-col-reverse max-lg:grid-cols-[60%_auto] p-10 max-lg:p-5 bg-gradient-to-b from-blok1-card/80 to-transparent border border-violet-but rounded-3xl mb-5">
        <form class="text-xl">
          <h2 class="text-4xl mb-10">Оформление заказа</h2>
          <div class="grid grid-cols-[30%_auto] max-1.5lg:grid-cols-[35%_auto] items-center mb-6 max-sm:grid-cols-1">
            <label for="name" class="block">Имя *</label>
            <input type="text" id="name"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5 "
              placeholder="Ваше имя" required>
          </div>
          <div class="grid grid-cols-[30%_auto] max-1.5lg:grid-cols-[35%_auto] items-center mb-6 max-sm:grid-cols-1">
            <label for="last-name" class="block">Фамилия *</label>
            <input type="text" id="last-name"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5 "
              placeholder="Ваша фамилия" required>
          </div>
          <div class="grid grid-cols-[30%_auto] max-1.5lg:grid-cols-[35%_auto] items-center mb-6 max-sm:grid-cols-1">
            <label for="tele" class="block">Телефон *</label>
            <input type="tel" id="tele"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5"
              placeholder="Ваш телефон" required>
          </div>
          <div class="grid grid-cols-[30%_auto] max-1.5lg:grid-cols-[35%_auto] items-center mb-6 max-sm:grid-cols-1">
            <label for="email" class="block">E-mail</label>
            <input type="email" id="email"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5"
              placeholder="Ваш e-mail">
          </div>
          <div class="grid grid-cols-[30%_auto] max-1.5lg:grid-cols-[35%_auto] items-center mb-10 max-sm:grid-cols-1">
            <label for="adres" class="block">Адрес доставки*</label>
            <input type="text" id="adres"
              class=" border border-gray-400 rounded-lg focus:ring-violet-but focus:border-blok1-banner block w-full p-2.5 "
              placeholder="Адрес доставки" required>
          </div>
          <button type="submit"
            class="px-6 py-3 max-sm:w-full border-2 rounded-xl bg-violet-but text-white hover:bg-white hover:text-violet-but hover:border-violet-but hover:duration-500">Отправить
            заявку</button>
        </form>
        <div
          class="flex flex-col items-center max-mdtwo:flex-row-reverse max-mdtwo:justify-between max-mdtwo:mb-5 max-md:flex-col">
          <p class="text-center text-3xl py-24 max-mdtwo:py-5 max-mdtwo:w-[50%] max-md:w-full max-mdtwo:text-2xl">При
            покупке от <span class="font-semibold">3000р</span> - <br> доставка
            <span class="font-semibold text-">бесплатно</span>!
          </p>
          <img class="max-mdtwo:w-[50%] max-md:w-full" src="/themes/demo/assets/images/доставка.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
