<section class="max-w-full m-0 m-auto">
  <div class="max-w-full m-0 m-auto border-4 border-t-light-voilet">
    <div class="max-w-blok m-0 m-auto flex py-10 mx-7 justify-between font-CormorantSC text-xl max-xl:mx-4 max-lg:text-base max-md:text-sm max-md:p-5 max-smtwo:px-2 max-smtwo:py-5 max-sm:mx-1">
      <div class="pr-10 max-md:pr-5 self-center">
        <img class="w-44 max-sm:w-32" src="/themes/demo/assets/images/logo3.png" alt="Логотип компании Вкус Севера">
      </div>
      <div class="w-full flex justify-between max-mini:flex-col">
        <ul class="flex max-mdtwo:flex-col max-md:justify-between max-mini:grid max-mini:grid-cols-2 max-mini:gap-1">
          <li class="mr-5 max-sm:mr-0">
            <a class="hover:underline hover:underline-offset-4" href="/inform">О нас</a>
        </li>
          <li class="mr-5 max-sm:mr-0">
            <a class="hover:underline hover:underline-offset-4" href="/catalog">Наборы</a>
          </li>
          <li class="mr-5 max-sm:mr-0">
            <a class="hover:underline hover:underline-offset-4" href="/dostavka">Доставка и оплата</a>
          </li>
          <li>
            <a class="hover:underline hover:underline-offset-4" href="/contacts">Контакты</a>
          </li>
        </ul>
        <ul class="max-mini:py-3">
          <li class="hover:underline hover:underline-offset-4 flex mb-3 max-mini:mb-1">
            <img class="w-5 mr-1.5 max-md:w-3" src="/themes/demo/assets/images/tele.svg" alt="">
            <a class="font-TTInterfaces font-normal mr-2.5" href="tel:+79512971958"> +7 (951) 297 19 58</a>
            <p class="">Дмитрий</p>
          </li>
          <li class="hover:underline hover:underline-offset-4 flex mb-3 max-mini:mb-1">
            <img class="w-5 mr-1.5 max-md:w-3" src="/themes/demo/assets/images/tele.svg" alt="">
            <a class="font-TTInterfaces mr-2.5" href="tel:+79216621226"> +7 (921) 662 12 26</a>
            <p class="">Сергей</p>
          </li>
          <li class="hover:underline hover:underline-offset-4">
            <a class="flex items-end" href="http://vk.com/ivan_chai_murmansk">
              <img class="w-8 mr-4 max-md:w-4" src="/themes/demo/assets/images/vk_log.svg" alt="vk">
              <p class="">Мы есть ВКонтакте!</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
