<section class="mb-4 mx-7">
  <div class="max-w-full border-b-1 border-light-brown">
    <div class="max-w-site m-0 m-auto">
      <div class="max-w-container m-0 m-auto flex justify-between text-brown font-CormorantSC py-3 max-md:text-sm">
        <div class="hidden max-md:grid grid-cols-3 w-full">
          <div class="flex items-center justify-center w-10 h-10 border rounded-xl border-slate-400">
            <div class="menu-burger__header hidden max-md:block">
              <span></span>
            </div>
          </div>
          <a class="justify-self-center" href="/" title="Логотип компании Вкус Севера">
            <img class="w-26" src="/themes/demo/assets/images/logo3.png" alt="Логотип">
          </a>
          <a class="relative items-center justify-center w-9 h-9 border rounded-xl border-slate-400 justify-self-end hidden max-md:flex"
            href="/korzina" title="basket">
            <img class="w-7.5 h-7.5" src="/themes/demo/assets/images/bask.png" alt="">
            <div class="absolute -top-2 -right-2 w-4 h-4 self-start rounded-full bg-violet-but">
              <p class="text-center text-xs text-white font-TTInterfaces">1</p>
            </div>
          </a>
        </div>
        <ul class="header-list flex font-semibold py-4">
          <li class="header-list__item bg-violet text-white rounded-lg hover:underline hover:underline-offset-4 hidden max-md:block">
            <a href="/catalog">Каталог</a>
          </li>
          <li class="header-list__item mr-7.5 hover:underline hover:underline-offset-4">
            <a href="/inform">О нас</a>
          </li>
          <li class="header-list__item mr-7.5 hover:underline hover:underline-offset-4">
            <a href="/catalog">Наборы</a>
          </li>
          <li class="header-list__item mr-7.5 hover:underline hover:underline-offset-4">
            <a href="/contacts">Контакты</a>
          </li>
          <li class="header-list__item hover:underline hover:underline-offset-4">
            <a href="/dostavka">Доставка и оплата</a>
          </li>
        </ul>
        <div class="contact-nav relative flex items-center max-md:items-start font-bold">
          <div class="absolute right-12">
            <div
              class="relative z-30 hidden max-md:flex items-center justify-center w-9 h-9 border rounded-xl border-slate-400">
              <img class="w-5" src="/themes/demo/assets/images/tele.svg" alt="">
            </div>
          </div>
          <div class="flex relative z-30 max-md:hidden">
            <img class="w-5 mr-1.5" src="/themes/demo/assets/images/tele.svg" alt="">
            <a class="font-TTInterfaces text-black font-normal mr-2.5" href="tel:+79512971958"> +7 (951) 297
              19 58</a>
            <p class="">Дмитрий</p>
            <img class="w-5" src="/themes/demo/assets/images/arrow.svg" alt="">
          </div>
          <ul class="contact-nav__list min-w-max hidden mr-5">
            <li class="contact-nav__item">
              <div class="hidden max-md:flex max-md:mb-2">
                <img class="w-5 mr-1.5" src="/themes/demo/assets/images/tele.svg" alt="">
                <a class="font-TTInterfaces mr-2.5" href="tel:+79512971958"> +7 (951) 297 19 58</a>
                <p class="">Дмитрий</p>
              </div>
            </li>
            <li class="contact-nav__item mb-1">
              <div class="flex">
                <img class="w-5 mr-1.5" src="/themes/demo/assets/images/tele.svg" alt="">
                <a class="font-TTInterfaces mr-2.5" href="tel:+79216621226"> +7 (921) 662 12 26</a>
                <p class="">Сергей</p>
              </div>
            </li>
            <li class="contact-nav__item">
              <a class="flex items-end" href="http://vk.com/ivan_chai_murmansk">
                <p class="mr-3">Мы есть ВКонтакте!</p>
                <img class="w-7" src="/themes/demo/assets/images/vk_log.svg" alt="vk">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="max-md:hidden max-w-full border-b-1 border-light-brown">
    <div class="max-w-site m-0 m-auto">
      <div class="max-w-container m-0 m-auto flex justify-between max-lg:items-center text-lg font-CormorantSC py-2.5">
        <a class="min-w-max mr-4" href="/" title="Логотип компании Вкус Севера">
          <img class="w-26" src="/themes/demo/assets/images/logo3.png" alt="Логотип">
        </a>
        <div class="w-full">
          <div class="flex justify-between items-end mb-4">
            <div class="catalog-nav">
              <button class="w-[120px] flex justify-around items-center bg-violet-but rounded-md">
                <div class="catalog-nav__close">
                  <span></span>
                </div>
                <p class="catalog-nav__btn font-TTInterfaces font-bold text-sm tracking-widest">Каталог
                </p>
              </button>
              <ul class="catalog-nav__list pr-20">
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Шоколад</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Сиропы</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Морепродукты</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Пастила</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Сувениры</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Варенье</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Соусы</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Чай</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Настойки</a>
                </li>
                <li class="catalog-nav__item hover:border-b hover:border-b-slate-700">
                  <a href="/catalog">Подарочные наборы</a>
                </li>
              </ul>
            </div>
            <a class="w-[50px] h-10 max-lg:h-8 flex items-end" href="/korzina" title="basket">
              <img class="w-7.5 h-7.5" src="/themes/demo/assets/images/bask.png" alt="">
              <div class="w-5 h-5 self-start rounded-full bg-violet-but">
                <p class="text-center text-sm text-white font-TTInterfaces">1</p>
              </div>
            </a>
          </div>
          <ul class="relative flex items-end max-lg:text-base">
            <li class="mr-10 hover:underline hover:underline-offset-4 max-smtwo:mr-5">
              <a href="/catalog">Шоколад</a>
            </li>
            <li class="mr-10 hover:underline hover:underline-offset-4 max-smtwo:mr-5">
              <a href="/catalog">Сиропы</a>
            </li>
            <li class="mr-10 hover:underline hover:underline-offset-4 max-smtwo:mr-5">
              <a href="/catalog">Морепродукты</a>
            </li>
            <li class="menu-threedots">
              <a class="hidden max-1.3xl:block"><img class="w-5" src="/themes/demo/assets/images/threedots.svg"
                  alt=""></a>
              <ul class="submenu-threedots flex max-1.3xl:hidden">
                <li class="mr-10 hover:underline hover:underline-offset-4">
                  <a href="/catalog">Пастила</a>
                </li>
                <li class="mr-10 hover:underline hover:underline-offset-4">
                  <a href="/catalog">Сувениры</a>
                </li>
                <li class="mr-10 hover:underline hover:underline-offset-4">
                  <a href="/catalog">Варенье</a>
                </li>
                <li class="mr-10 hover:underline hover:underline-offset-4">
                  <a href="/catalog">Соусы</a>
                </li>
                <li class="mr-10 hover:underline hover:underline-offset-4">
                  <a href="/catalog">Чай</a>
                </li>
                <li class="mr-10 hover:underline hover:underline-offset-4">
                  <a href="/catalog">Настойки</a>
                </li>
                <li class="hover:underline hover:underline-offset-4">
                  <a href="/catalog">Подарочные наборы</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
